PORT=3010

NEST_HYDRA_BIN_DIR_PATH='/Users/macbookpro/hdev/workspaces/blockchain/hydra-manager/hydra/bin'
NEST_HYDRA_NODE_IMAGE='ghcr.io/cardano-scaling/hydra-node:0.20.0'
NEST_HYDRA_NODE_SCRIPT_TX_ID='557b6a6eaf6177407757cb82980ebc5b759b150ccfd329e1d8f81bbd16fecb01,98e1a40224c5ed8eaff5fc1f865d89af47ae89fd4adc1c37fc80dfd901b0caf2,8fbdf7de4934ca4d22ed9cfac0f6e2566990751b6f4b944470dafabbd079b965'
NEST_HYDRA_NODE_NETWORK_ID='1'
NEST_HYDRA_NODE_FOLDER='/Users/macbookpro/hdev/workspaces/blockchain/hydra-manager/hydra/preprod'

NEST_CARDANO_NODE_SERVICE_NAME='cardano-node'
NEST_CARDANO_NODE_IMAGE='ghcr.io/intersectmbo/cardano-node:10.1.4'
NEST_CARDANO_NODE_FOLDER='/Users/macbookpro/hdev/workspaces/blockchain/hydra-manager/cardano-node'
NEST_CARDANO_NODE_SOCKET_PATH='/Users/macbookpro/hdev/workspaces/blockchain/hydra-manager/cardano-node/node.socket'

NEST_OGMIOS_API=http://localhost:1337
NEST_OGMIOS_WS=ws://localhost:1337

NEST_DOCKER_SOCKET_PATH='/var/run/docker.sock'
NEST_DOCKER_ENABLE_NETWORK_HOST='false'

DB_HOST=localhost
DB_PORT=3309
DB_USERNAME=userbane
DB_PASSWORD=password
DB_DATABASE=hexcore
DB_SYNCHRONIZE=true
