version: "3.9"

services:
  cardano-node:
    image: ghcr.io/intersectmbo/cardano-node:10.2.1
    container_name: cardano-node
    environment:
      - CARDANO_NODE_SOCKET_PATH=/workspace/node.socket
    volumes:
      - ./database:/db # Persistent volume for the database
      - ./:/workspace # Path for the node socket
      - node-ipc:/workspace # Shared volume for socket communication
    ports:
      - "8091:8091" # Expose port 8091
    command: >
      run --config /workspace/config.json --topology /workspace/topology.json --socket-path /workspace/node.socket --database-path /db --port 8091 --host-addr 0.0.0.0
    restart: always

  ogmios:
    image: cardanosolutions/ogmios:latest
    container_name: ogmios
    restart: on-failure
    depends_on:
      - cardano-node
    ports:
      - ${OGMIOS_PORT:-8092}:8092
    volumes:
      # mount socket để ogmios nói chuyện với cardano-node
      - ./cardano-node:/cardano-node
      - node-ipc:/cardano-node # Shared volume for socket communication
    command: [ "--node-socket", "/cardano-node/node.socket", "--node-config", "/config/preprod/cardano-node/config.json", "--host", "0.0.0.0" ]

volumes:
  db:
    driver: local
  node-ipc:
    driver: local
